---
import Layout from "../layouts/Layout.astro";
import Tag from "../components/Tag.astro";
import TagIntro from "../components/TagIntro.astro";
import TagContainerIntro from "../components/TagContainerIntro.astro";
import ButtonIntro from "../components/ButtonIntro.astro";
import Card from "../components/Card.astro";
import Client from "../components/Client.astro";
import Footer from "../components/Footer.astro";
import FaIcon from "../components/FaIcon.astro";
import { Image } from "astro:assets";
import Art from "../components/Art.astro";

/* Icons */
import avatarIcon from "/public/images/8Blits@825px.png";
import artIcon from "/public/images/icons/art.png";
import vectorIcon from "/public/images/icons/vector.png";
import modelingIcon from "/public/images/icons/modeling.png";
import videoIcon from "/public/images/icons/video.png";
import kotlinIcon from "/public/images/icons/kotlin.png";
import webIcon from "/public/images/icons/web_1.png";
import discordIcon from "/public/images/icons/discord.png";
import emailIcon from "/public/images/icons/email.png";
import calendarIcon from "/public/images/icons/calendar.png";

/* Art */
import icons from "/public/images/art/icons.png";
import honeyBearAd from "/public/images/art/honeyBearAd.png";
import worldGateAd from "/public/images/art/worldGateAd.png";
import christmasFurniture from "/public/images/art/christmasFurniture.png";
import christmasSnowglobe from "/public/images/art/christmasSnowglobe.png";
import christmasStarterpack from "/public/images/art/christmasStarterpack.png";
import halloweenFurniture from "/public/images/art/halloweenFurniture.png";
import halloweenStarterpack from "/public/images/art/halloweenStarterpack.png";
import halloweenToolpack from "/public/images/art/halloweenToolpack.png";
import keyChristmas from "/public/images/art/keyChristmas.png";
import keyHalloween from "/public/images/art/keyHalloween.png";
import keyHoney from "/public/images/art/keyHoney.png";
import honeysmpHalloweenBrand from "/public/images/brands/honeysmpHalloween.png";
import honeysmpChristmasBrand from "/public/images/brands/honeysmpChristmas.png";
import frostaverseBrand from "/public/images/brands/frostaverse.png";
import stinkysmpBrand from "/public/images/brands/stinkysmp.png";

/* Brands */
import honeysmpBrand from "/public/images/brands/honeysmp.png";
import milksmpBrand from "/public/images/brands/milksmp.png";
import nauticalquestBrand from "/public/images/brands/nauticalquest.png";
import hideaway from "/public/images/brands/hideaway.png";
import strutworld from "/public/images/brands/strutworld.png";
import gamemaster from "/public/images/brands/gamemaster.png";

import dotwav from "/public/images/brands/dotwav.png";
import evnt from "/public/images/brands/evnt.png";
import moonrock from "/public/images/brands/moonrock.png";
import frostagon from "/public/images/brands/frostagon.png";
import syszee from "/public/images/brands/syszee.png";
import tinyembers from "/public/images/brands/tinyembers.png";
import bumpyevents from "/public/images/brands/bumpyevents.webp";

// ---

function calculateAge(dateOfBirth: string): number {
    const monthDiff = Date.now() - new Date(dateOfBirth).getTime();
    const age = Math.abs(new Date(monthDiff).getUTCFullYear() - 1970);
    return age;
}
const age: number = calculateAge("3/30/2006");
---

<Layout title="8Blits">
    <main class="flex justify-center items-center flex-col gap-40">
        <!-- Intro -->
        <div class="container mx-auto p-12 pt-0 gap-6 flex justify-center items-center flex-col mt-40 rounded-lg shadow-2xl bg-light-50">
            <div class="fade-in relative">
                <Image
                    class="rounded-full -mt-20 w-40 h-40 outline outline-8 outline-light-50 shadow-xl"
                    src={avatarIcon}
                    alt=""
                    width="825"
                    height="825"
                />
                <div class="w-8 h-8 absolute bottom-0 right-0 rounded-full bg-allow-100 outline outline-8 outline-light-50"></div>
            </div>
            <span class="fade-in text-4xl font-bold text-black">8Blits</span>
            <span class="fade-in text-xl font-normal text-center text-black">Self-driven {age} year old creative mind, block game enthusiast!</span>
            <TagContainerIntro>
                <TagIntro body="2D Artist" image={artIcon} />
                <TagIntro body="Vector Artist" image={vectorIcon} />
                <TagIntro body="3D Artist" image={modelingIcon} />
                <TagIntro body="Video Editor" image={videoIcon} />
                <TagIntro body="Kotlin Dev" image={kotlinIcon} />
                <TagIntro body="Web Dev" image={webIcon} />
            </TagContainerIntro>

            <span class="fade-in text-4xl font-normal text-center text-black mt-6">Get in touch!</span>
            <div class="fade-in flex justify-center gap-3">
                <ButtonIntro
                    href="https://discord.gg/GR4m8VnzTX"
                    body="Discord"
                    image={discordIcon}
                />
                <ButtonIntro
                    href="mailto:8blits@hexbros.com"
                    body="Email"
                    image={emailIcon}
                />
            </div>
        </div>

        <!-- Projects -->
        <div class="container mx-auto p-12 gap-6 flex justify-center items-center flex-col rounded-lg shadow-2xl bg-light-50">
            <span class="text-4xl font-bold text-black">Projects</span>

            <div class="w-full grid grid-cols-1 gap-6">
                <Card
                    href="https://discord.gg/FXW5jY9Nvh"
                    title="HoneySMP, Frostagon"
                    subtitle="A completley custom SMP server that I co-founded, developed, and designed. This server features many unique features very different from the ordinary SMP server."
                    image={honeysmpBrand}
                    imageColor="#bc3d00"
                >
                    <Tag body="2024" image={calendarIcon} />
                    <Tag body="500+ Users" image={artIcon} />
                </Card>
                <Card
                    href="https://x.com/JustKaboodle/status/1871329994078933421"
                    title="GonnaNeedMilk MilkSMP, Moonrock Games"
                    subtitle="Brand activation for GonnaNeedMilk. I designed all the in-game assets for this content creator SMP; including 3D models, GUIs, item textures, armor sets, the logo, and HUD elements"
                    image={milksmpBrand}
                    imageColor="#616f88"
                >
                    <Tag body="2024" image={calendarIcon} />
                </Card>
                <Card
                    href="https://x.com/EVNTgames/status/1821245704582410317"
                    title="Princess Cruises Nautical Quest, Moonrock Games"
                    subtitle="Brand activation for the cruise company Princess Cruises. I designed the entire 2D game featured in this event. I also created a few models scattered around the other games."
                    image={nauticalquestBrand}
                    imageColor="#111f69"
                >
                    <Tag body="2024" image={calendarIcon} />
                    <Tag body="11K+ Live Viewers" image={artIcon} />
                </Card>
                <Card
                    href="https://x.com/PlayHideaway"
                    title="Hideaway"
                    subtitle="Very polished unique role-play and adventure focused Minecraft server. I designed their roadmap announcing their upcoming features."
                    image={hideaway}
                    imageColor="#c8612d"
                >
                    <Tag body="2023" image={calendarIcon} />
                    <Tag body="10K+ Users" image={artIcon} />
                </Card>
                <!-- <Card
                    title="StrutWorld, TinyEmbers"
                    subtitle="Custom Minecraft server with a very engaging take on Skyblock giving it a more RPG feel. This server also featured a PVP/minigame, and SMP gamemode. I was creative direction for their RPG game, designing gameplay mechanics and creating all the assets for the server."
                    image={strutworld}
                    imageColor="#005c00"
                >
                    <Tag body="2023" image={calendarIcon} />
                    <Tag body="5K+ Users" image={artIcon} />
                </Card> -->
                <Card
                    href="https://x.com/FNdotGames/status/1588997009767387136"
                    title="BisectHosting Game Master, DotWAV"
                    subtitle="Brand activation and charity fundraiser for Gamers Outreach. I designed the character for their 2D game."
                    image={gamemaster}
                    imageColor="#0269aa"
                >
                    <Tag body="2022" image={calendarIcon} />
                    <Tag body="$1.2K Raised for Charity" image={artIcon} />
                </Card>
            </div>
        </div>

        <!-- Art -->
        <div class="container mx-auto p-12 gap-6 flex justify-center items-center flex-col rounded-lg shadow-2xl bg-light-50">
            <span class="text-4xl font-bold text-black">Portfolio</span>

            <div class="w-full grid grid-cols-2 gap-12 justify-items-center">
                <Art image={honeyBearAd}, wide={true} />
                <Art image={christmasFurniture} />
                <Art image={christmasSnowglobe} />
                <Art image={worldGateAd}, wide={true} />
                <Art image={christmasStarterpack} />
                <Art image={halloweenFurniture} />
                <Art image={halloweenStarterpack} />
                <Art image={halloweenToolpack} />
                <Art image={icons}, wide={true} />
                <Art image={keyChristmas} />
                <Art image={keyHalloween} />
                <Art image={keyHoney} />
                <Art image={milksmpBrand} />
                <Art image={frostaverseBrand}, wide={true} />
                <Art image={honeysmpBrand} />
                <Art image={honeysmpHalloweenBrand} />
                <Art image={honeysmpChristmasBrand} />
                <Art image={stinkysmpBrand} />
            </div>
        </div>

        <!-- Clients -->
        <div class="container mx-auto p-12 gap-6 flex justify-center items-center flex-col rounded-lg shadow-2xl bg-light-50">
            <span class="text-4xl font-bold text-black">Clients</span>
            <div class="w-full grid grid-cols-2 md:grid-cols-3 gap-6">
                <Client image={moonrock} imageColor="#ffffff"/>
                <Client image={evnt} imageColor="#ffffff"/>
                <Client image={tinyembers} imageColor="#ffffff"/>
                <Client image={syszee} imageColor="#ffffff"/>
                <Client image={bumpyevents} imageColor="#ffffff"/>
                <Client image={dotwav} imageColor="#ffffff"/>
            </div>
        </div>

        <Footer />
    </main>
</Layout>

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer components {

     }
</style>
