---
import TagContainer from '../components/TagContainer.astro';
import FaIcon from '../components/FaIcon.astro';
import { Image } from 'astro:assets';

import { faArrowUpRightFromSquare } from '@fortawesome/free-solid-svg-icons';

interface Props {
    href?: string;
    title: string;
    subtitle: string;
	image: ImageMetadata;
	imageColor: string;
}

const { href = '', title, subtitle, image, imageColor } = Astro.props;
---

<div class="fade-in flex min-h-60 rounded-lg border-2 border-light-100 bg-light-50 flex-col-reverse md:flex-row">
    <div class="flex-1 flex flex-col p-4">
        <span class="text-xl font-bold">{title}</span>
        <span class="text-xl font-normal w-9/12">{subtitle}</span>
        <TagContainer>
            <slot />
        </TagContainer>

        {href && (
            <div class="flex items-center gap-2 mt-10 md:mt-auto">
                    <a href={href} target="_blank" class="hover">
                        <FaIcon icon={faArrowUpRightFromSquare} />
                        <span class="text-xl font-normal">Learn More</span>
                    </a>
            </div>
        )}
    </div>

    <div style={{ backgroundColor: imageColor }} class="p-8 flex justify-center items-center w-full rounded-lg md:max-w-96 h-96 md:h-full">
        <div class="aspect-square w-full h-full">
            <Image class="object-contain w-full h-full" src={image} alt="Brand Logo" width="1280" height="1280"/>
        </div>
    </div>
</div>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer components {
		.hover {
			@apply cursor-pointer ease-out duration-300
		}
		.hover:hover {
			@apply -translate-y-1 rotate-2
		}
	}
</style>